
.header
  nav
    ul
      li
        a(href="#") Experience
      li
        a(href="#") About Me
      li
        a(href="#") Portfolio
      li
        a(href="#") Contact Me
      li.pull-right
        a(href="#") My Resume  
      li.pull-right
        a(href="#") Blog
      
