doctype html
html.no-js(lang='')
  
  //- Head Information
  head
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/styles.css')
    
    
  //- Start of Body
  body#portfolio
    .container
    
    script(src="/js/vendor/jquery-1.11.2.min.js")
    script(src="/js/portfolio.js")
    
