// Colours partial

// Text colours
$txt-primary: rgba(108, 122, 137, 1);
// body font
$txt-secondary: #4C5A69;
// heading font
$txt-light: #fff;
// header/hero
$txt-accent: #ACB1B4;
$form-placeholder: #BCC1C3;
// form placeholder text
// Global colourskil
$accent-color: #22A7F0;
// global accent colour
$accent-color-hover: #1297E0;
// global accent colour hover
$white-color: #fff;
$black-color: #000;
// Typography colours
$h2-color: #22A7F0;
$h3-color: #4C5A69;
$h5-color: #4C5A69;
// Layout colours
$section-light: #fff;
$section-dark: #F3F4F8;
$to-top-bg: #495061;
$footer-primary: #4C5A69;
$footer-secondary: #373D4A;
// Keylines
$keyline-color: #E6E9EA;
$footer-keyline-color: #4E566C;
